/* ***************************************************************
* Main style sheet. first section will be broad targeting. Then 
* each div id will have its own area. 
* 
*******************************************************************/

/*  Broad Targeting */
body {
  background-image: url(starsonly.svg);
}
h1 {
  font-size: x-large;
}

/* Specific Targeting */

/* *******************************************************
* All NAVIGATION related styling will go in here, 
*                                                      */
/* #navigation {
    padding: 20px;
    background-color: khaki;
}

nav{
    background-color: #a39b9be7;
    padding: 20px;
    position: sticky;
    top: 104px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 16.667%;
    display: inline-block;
    font-size: 16px;
    
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.home{
    color: white;
    text-transform: uppercase;
    text-transform: capitalize;
}
nav li a.register{
    color: white;
}
nav li a.login{
    color: white;
}
nav li a.play{
    color: white;
}
nav li a.leaderboards{
    color: white;
}
nav li a.study{
    color: white;
} */

header {
  background-color: rgba(219, 56, 56, 0.973);
  padding: 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
header h2 {
  color: white;
  border: 8px solid blue;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
}

#studyAndLearn {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#studyAndLearn p {
  font-size: larger;
}

#books {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#books h2 {
  font-size: medium;
}

#youTube {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#youtube h2 {
  font-size: medium;
}

#podcasts {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#podcasts h2 {
  font-size: medium;
}

#blogs {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#blogs h2 {
  font-size: medium;
}

#other {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  border: 8px solid rgb(253, 0, 0);
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.76);
  width: 75%;
  border-radius: 30px;
  color: blue;
}
#other h2 {
  font-size: medium;
}
