/* ***************************************************************
* Main style sheet. first section will be broad targeting. Then 
* each div id will have its own area. 
* 
*******************************************************************/

/*  Broad Targeting */
body{
    background-image: url(starsonly.svg);
}

/* Specific Targeting

/********************************************************
* All NAVIGATION related styling will go in here, 
*                                                      */
/* #navigation {
    padding: 20px;
    background-color: khaki;
}

nav{
    background-color: #a39b9be7;
    padding: 20px;
    position: sticky;
    top: 104px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 16.667%;
    display: inline-block;
    font-size: 16px;
    
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.home{
    color: white;
    text-transform: uppercase;
    text-transform: capitalize;
}
nav li a.register{
    color: white;
}
nav li a.login{
    color: white;
}
nav li a.play{
    color: white;
}
nav li a.leaderboards{
    color: white;
}
nav li a.study{
    color: white;
} */ 

header{
    background-color: rgba(219, 56, 56, 0.973);
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h2{
    color: white;
    border: 8px solid blue;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

 /* back to source code - quiz */

body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin : 20px auto;
    background-color: rgba(255, 255, 255, 0.89);
    height: 300px;
    width : 900px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    top: 160px;
    
}
#start{
    font-size: 22px;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 12px dashed rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : rgb(8, 8, 8);
}
#start:hover{
    border: 12px solid rgb(25, 0, 255);
    color : rgb(255, 0, 0);
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:700px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 680px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}


















